:root{--cor1:#b9d9b4;
      --cor2:#403b33;
      --cor3:#288d85;
      --cor4:#000000;

}

*{margin: 0;
  padding: 0;
}
   
.cabecalho{
        height: 100%;
        width: 25%;
        background-color: var(--cor2);

}
.texto{
  height: 100%;
  width: 65%;
  background-color: var(--cor3);

}
.baixo{
  height: 100%;
  width: 10%;
  background-color: var(--cor1);
  
}