:root{--cor1:#eb9605;
      --cor2:#d2d2d2;
      --cor3:#fffeb0;
      --cor4:#000000;

}

*{margin: 0;
  padding: 0;
}
   
.cabecalho{
        height: 25%;
        width: 100%;
        background-color: var(--cor2);

}
.texto{
  height: 65%;
  width: 100%;
  background-color: var(--cor2);

}
.baixo{
  height: 10%;
  width: 100%;
  background-color: var(--cor2);

}